.ceph-cluster-configuration {
  .form {
    .row {
      border: 0;
    }
  }
  .main-options-form {
    .form {
      $label-width: 110px;
      
      @media (min-width: $screen-sm-min) {
        max-width: 600px;

        .control-label, .form-control-static, .form-control-column {
          float: left;
        }
        .form-control-static, .form-control-column {
          width: calc(100% - #{$label-width});
        }
        .control-label {
          width: $label-width;
          text-align: left;
        }
      }
    }
  }
  .ceph-node {
    .form {
      max-width: 400px;
      margin-top: $content-row-vertical-padding;
      margin-bottom: 0;
    }
  }
  .remove-osd {
    position: relative;
    top: 6px;
    margin-left: $padding-xs-horizontal;
    font-size: 1.7em;
    color: $color-one-light-gray;
    &:hover {
      color: darken($color-one-light-gray, 15%);
    }
  }
}
