.ceph-cluster-configuration {
  .form {
    .row {
      border: 0;
    }
  }
  .one-collapsible-list-item-content.opened {
    overflow: visible;
  }
  .main-options-form {
    .form {
      $label-width: 140px;
      margin-top: $padding-small-vertical;

      .form-group:last-child {
        margin-bottom: 0;
      }
      
      @media (min-width: $screen-sm-min) {
        max-width: 600px;

        .control-label, .form-control-static, .form-control-column {
          float: left;
        }
        .form-control-static, .form-control-column {
          width: calc(100% - #{$label-width});
        }
        .control-label {
          width: $label-width;
          text-align: left;
        }
      }
    }
  }
  .ceph-node {
    .form {
      margin-top: $content-row-vertical-padding;
      margin-bottom: 0;
    }
  }
  .remove-osd {
    position: relative;
    top: 6px;
    margin-left: $padding-xs-horizontal;
    font-size: 1.7em;
    color: $color-one-light-gray;
    &:hover {
      color: darken($color-one-light-gray, 15%);
    }
  }
  @media (min-width: $screen-sm-min) {
    .osd-form, .manager-monitor-form {
      &.mode-edit {
        .form {
          max-width: 500px;
        }
      }
      &.mode-show {
        .form-group-static {
          margin-bottom: 0;
        }
      }
    }
  }
}
