.cluster-host-table {
  position: relative;

  &:not(.bt) {
    .toggle-column {
      width: 15%;
      .one-way-toggle{
        font-size: 1.2em;
      }
    }
  }

  thead tr th {
    padding-bottom: 12px;
    padding-top: 12px;
    vertical-align: middle;
  }

  &.bt tbody tr {
    &.active td:after {
      @include left-line(
        $one-list-item-active-left-border-width solid $color-one-azure
      );
    }
    &.active td {
      background-color: $color-one-light-bluegray;
    }
    td {
      font-size: 0.9em;
      text-align: right;
      position: relative;
      padding-left: 5em !important;

      &:before {
        content: attr(data-th) " ";
        font-weight: normal;
        float: left;
        text-align: left;
        width: auto;
      }

      &:first-child {
        font-weight: bold;
        text-align: left;
        .item-icon {
          position: absolute;
          top: 3rem;
          left: 2.5rem;
        }
      }

      .one-way-toggle {
        margin-top: -0.1em;
        font-size: 1.4em;
      }
    }
  }
}
