.cluster-ceph-status {
  .osds-usage-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 $padding-large-horizontal;
  }

  .osd-usage {
    width: calc(33.33333333% - #{$padding-small-horizontal});
    margin-bottom: $padding-base-vertical;
  }

  @media (max-width: $screen-sm-max) {
    .osd-usage {
      width: calc(50% - #{$padding-small-horizontal})
    }
  }

  @media (max-width: $screen-xs-max) {
    .osd-usage {
      width: 100%;
    }
  }
  
  .one-space-indicator {
    min-height: 70px;
  }
}
