.cluster-host-table-row {
  table:not(.bt) & {
    &:hover {
      background-color: $color-table-hover-row !important; //override table-striped style
      td {
        position: relative;
      }

      td:first-child:before {
        content: '';
        border-left: 8px solid $color-one-azure;
        display: block;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        width: 8px;
      }
    }
    td:first-child {
      padding-left: 16px;
    }
  }
}
