.cluster-host-table {
  position: relative;
  table-layout: fixed;

  &:not(.bt) {
    .toggle-column {
      width: 15%;
      // toggles are a little bigger than a normal text 
      // so padding must be smaller to preserve row height
      padding: $table-cell-padding * 0.75 $table-cell-padding;
      .one-way-toggle {
        font-size: 1.2em;
      }
    }
  }

  thead tr th {
    padding-bottom: 12px;
    padding-top: 12px;
    vertical-align: middle;
  }

  &.bt tbody tr {
    &.active td:after {
      @include left-line(
        $one-list-item-active-left-border-width solid $color-one-main
      );
    }
    &.active td {
      background-color: $color-one-gray-sand;
    }
    td {
      text-align: right;
      position: relative;
      padding-left: 5em !important;

      &:before {
        content: attr(data-th) " ";
        font-weight: normal;
        float: left;
        text-align: left;
        width: auto;
      }

      &:first-child {
        font-weight: bold;
        padding-right: 70px;
        text-align: left;
        .item-icon-container {
          position: absolute;
          left: 2.5rem;
        }
      }

      .one-way-toggle {
        margin-top: -0.1em;
        font-size: 1.4em;
      }
    }
  }
  
  &.with-form.bt {
    form {
      display: block;
      float: right;
      width: 70%;
    }
    tr td:not(.row-header)::before {
      // TODO: use value from form-control height
      line-height: 46px;
      width: 30%;
      margin-right: 0px;
      padding-right: 0px;
    }
    tr td:not(.row-header) {
      &::before,
      .bt-content {
        line-height: 46px;
      }
      .form-message {
        line-height: initial;
      }
    }
  }
}

.cluster-host-table + .pseudo-table-row {
  margin-top: -$line-height-computed;
  margin-bottom: $line-height-computed;
  // copied from bootstrap table style
  padding: 20px 20px 20px 16px;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
