.cluster-ceph-status {
  .osds-usage-container {
    .one-collapsible-list-item-content {
      padding: 0 $padding-large-horizontal;
      @media (min-width: $screen-sm-min) {
        padding: 0 $padding-large-horizontal - $padding-small-horizontal;
      }
    }
  }

  .osd-usage {
    @media (min-width: $screen-sm-min) {
      padding: 0 $padding-small-horizontal;
    }
  }
  
  .one-space-indicator {
    min-height: 70px;
  }
}
