.cluster-ceph-status {
  .osd-usage {
    @media (min-width: $screen-sm-min) {
      padding: 0 $padding-small-horizontal;

      &:first-child {
        padding-left: 0;
      }
  
      &:last-child {
        padding-right: 0;
      }
    }
  }
  
  .one-space-indicator {
    min-height: 70px;
  }

  .osds-usage-row {
    margin: 0 $padding-large-horizontal;
  }
}
