$table-item-border: 1px solid $main-content-border-color;

.vertical-align-middle {
  @include vertical-align-middle();
}

.absolute-align-middle-center {
  @include absolute-align-middle-center();
}

.full-height {
  height: 100%;
  overflow-y: auto;
}

.full-width {
  width: 100%;
}

.no-padding {
  padding: 0 !important;
}

.no-transition {
  transition: none !important;
}

.clickable {
  @include clickable();
}

.content-backdrop.sidenav-backdrop {
  // TODO: animation
  position: absolute;
  @include fill-container();
  margin-left: $main-menu-width;

  z-index: $zindex-layer-1-2-overlay;
}

.disable-user-select {
  > * {
    @include vendor-prefix(user-select, none);
    cursor: default;
  }
}

$btn-bg-color: $color-one-white;

// TODO color not defined
$input-bg-color: #F9F9F9;
// TODO color not defined
$input-border-color: #CDCDCD;

.btn {
  outline: none !important;
}

input.light {
  height: 38px;
  background-color: $color-one-white !important;
}

// TODO use for generation fb and bg
@mixin one-fg-styles($attributes, $color) {
  @each $attr in $attributes {
    #{$attr}: $color;
  }
}

input {
  border-color: $color-one-list-item-separator;
}

.world-map {
  &.light {
    background-image: url($root-url + 'assets/images/world-map-light.svg');
  }
  &.dark {
    background-image: url($root-url + 'assets/images/world-map-dark.svg');
  }
}

// TODO this should be separate component

.item-table {
  width: 100%;
  .item-table-img-cell {
    width: 30%;
    border-right: $table-item-border;
  }
  .item-table-content-cell {
    .row {
      margin: 0 2em;
      padding-left: 0;
      padding-right: 0;
      @media screen and (max-width: $screen-md) {
        border-bottom: $table-item-border;
      }
    }
  }
}
@media screen and (max-width: $screen-md) {
  .item-table {
    .item-table-img-cell {
      width: 0;
      border-right: 0;
    }
  }
}

.groove-border {
  width: 100%;
  height: 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.item-icon {
  display: inline-block;
  position: relative;
  top: 0.3em;
  margin-right: 0.6em;
  line-height: 0;
  font-size: 2em;
}
