.content-info {
  .world-map {
    position: absolute;
    @include fill-container();
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  h1 {
    font-weight: bold;
    font-size: 24pt;
    letter-spacing: 3px;
    margin-bottom: 1.2em;
    text-transform: uppercase;
  }
  h2 {
    font-size: 12pt;
    text-transform: uppercase;
    margin-bottom: 2em;
  }
  p.lead {
    font-size: 12pt;
    margin-bottom: 2.5em;
  }
}
