.content-info {
  .world-map {
    position: absolute;
    @include fill-container();
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  h1 {
    margin-bottom: 1em;
    margin-top: 0;
    font-weight: bold;
    font-size: 27pt;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  h2 {
    font-size: 12pt;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 0.8em;
  }
  p.lead {
    margin-bottom: 2.5em;
    font-size: 13pt;
    letter-spacing: 1px;
  }
  .btn-primary {
    font-size: 130%;
  }
}
