.content-clusters-spaces-show {
  .tab-pane {
    .row-time-stats-charts {
      position: relative;
      min-height: 300px;
      border-bottom: 0;
      .item-table-content-cell:last-child {
        .chart-row {
          border-bottom: 0;
        }
      }
    }
    .file-registration-header {
      margin-top: $padding-large-vertical * 2;
    }
    .import-settings-list {
      .one-collapsible-list-item-content {
        padding: 0 $padding-base-horizontal;
      }
    }

    .manual-import-description {
      // remove padding in mobile devices
      p, h1 {
        padding: 0;
      }
    }

    .file-registration-spinner-container {
      position: relative;
      min-height: 100px;
    }

    @media (min-width: $screen-sm-min) {
      .import-info-header {
        // Space for start/stop scan button
        padding-right: 190px;
      }
    }

    .import-info-content {
      position: relative;
    }

    .import-info-details-first-col {
      .detail-highlighted {
        color: darken($color-one-azure, 25%);
      }
    }

    .import-info-details-second-col {
      .detail-highlighted {
        color: $color-one-azure;
      }
    }

    .counters-notice {
      font-style: italic;
      font-size: smaller;
      padding: 0;

      @media (min-width: $screen-md-min) {
        position: absolute;
        bottom: $content-row-vertical-padding;
        margin: 0;
      }
    }

    @media (min-width: $screen-md-min) {
      .import-info-details-first-col {
        margin-bottom: 2.5em;
      }

      .import-info-details-second-col {
        padding-left: $padding-base-horizontal;
      }
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      .import-info-details-first-col .content-row:last-child {
        border-bottom: 1px solid $main-border-color;
      }
    }
  }
  @media (max-width: 900px) {
    .nav-tabs li {
      float: none;
      &:not(:last-child) {
        .nav-link {
          border-radius: $border-radius-small;
          border-bottom-color: $main-border-color;
        }
      }
      .nav-link {
        margin: 0;
      }
    }
  }
  @media (max-width: 900px) {
    .btn-group-floating {
      position: relative;
      width: 100%;
      padding: $padding-large-vertical $padding-large-horizontal;
      &.btn-group-3-btns {
        .btn {
          width: 33.333%;
        }
      }
    }
    .tab-info-floating {
      display: none;
    }
  }
  @media (min-width: 901px) {
    .btn-group-floating {
      position: absolute;
      top: $padding-large-vertical;
      right: $padding-large-horizontal;
      z-index: 1;
    }
    .tab-info-floating {
      position: absolute;
      top: $padding-large-vertical;
      right: $padding-large-horizontal;
      z-index: 1;
    }
    .btn-group-floating + .tab-info-floating {
      top: $padding-large-vertical * 3;
    }
  }
  .one-space-indicator {
    margin-top: $padding-base-vertical;
  }

  .support-size-this {
    .row-modify-support-size {
      position: relative;
      margin-top: $padding-large-vertical;
      .label-size {
        position: absolute;
        top: 0.5em;
      }
      .one-size-edit {
        margin-left: 40px;
        margin-bottom: 0;
      }
    }
  }

  .storage-import-form .form-section-title {
    display: none;
  }
}
