.content-clusters-spaces-show {
  .tab-pane {
    .row-time-stats-charts {
      position: relative;
      min-height: 300px;
      border-bottom: 0;
      .item-table-content-cell:last-child {
        .chart-row {
          border-bottom: 0;
        }
      }
    }
  }
  @media (max-width: 900px) {
    .nav-tabs li {
      float: none;
      &:not(:last-child) {
        .nav-link {
          border-radius: $border-radius-small;
          border-bottom-color: $main-border-color;
        }
      }
      .nav-link {
        margin: 0;
      }
    }
  }
  @media (max-width: 900px) {
    .btn-group-floating {
      position: relative;
      width: 100%;
      padding: $padding-large-vertical $padding-large-horizontal;
      &.btn-group-3-btns {
        .btn {
          width: 33.333%;
        }
      }
    }
    .tab-info-floating {
      display: none;
    }
  }
  @media (min-width: 901px) {
    .btn-group-floating {
      position: absolute;
      top: $padding-large-vertical;
      right: $padding-large-horizontal;
      z-index: 1;
    }
    .tab-info-floating {
      position: absolute;
      top: $padding-large-vertical;
      right: $padding-large-horizontal;
      z-index: 1;
    }
    .btn-group-floating + .tab-info-floating {
      top: $padding-large-vertical * 3;
    }
  }
  .one-space-indicator {
    margin-top: $padding-base-vertical;
  }
  
  .support-size-this {
    .row-modify-support-size {
      position: relative;
      margin-top: $padding-large-vertical;
      .label-size {
        position: absolute;
        top: 0.5em;
      }
      .one-size-edit {
        margin-left: 40px;
        margin-bottom: 0;
      }
    }
  }

  .storage-import-form .form-section-title {
    display: none;
  }
}
