.content-clusters-ceph {
  @media (max-width: $screen-xs-max) {
    .tab-content {
      padding-left: 0;
      padding-right: 0;
    }

    .ceph-status, .one-collapsible-list {
      margin-left: $mobile-horizontal-content-padding;
      margin-right: $mobile-horizontal-content-padding;
    }
  }

  .ceph-status {
    word-break: break-word;
  }
}
