.content-clusters-gui-settings {
  .tab-content {
    padding: $padding-large-vertical * 1.5 0 $padding-large-vertical 0;
  }
  
  .gui-settings-privacy-policy {
    .pell-content {
      min-height: 200px;
      height: 50vh;
    }
  }
}
