.content-clusters-members {
  .manage-via-onezone {
    margin-top: $padding-large-vertical;
  }
  .row-members-counter {
    min-height: 100px;
  }
  .user-token-container {
    position: relative;
    margin-top: $padding-base-vertical;
    &.expanded {
      margin-top: 2 * $padding-large-vertical;
      height: 220px;
    }
  }
  .invite-user-token-textarea {
    margin-bottom: $padding-base-vertical;
  }
  .row-yield {
    margin-bottom: 0;
  }
  .one-image .image {
    max-height: 130px;
  }
}
