// above bootstrap modal
$ember-basic-dropdown-content-z-index: $zindex-modal+1;

$ember-power-select-border-color: $input-border;
$ember-power-select-number-of-visible-options: 10;
$ember-power-select-background-color: $input-bg;
$ember-power-select-highlighted-background: $color-one-azure;
$ember-power-select-highlighted-color: white;
$ember-power-select-trigger-default-border-radius: $input-border-radius;
$ember-power-select-trigger-ltr-padding: $padding-base-vertical;
$ember-power-select-line-height: $line-height-computed;
$ember-power-select-opened-border-radius: 0;
$ember-power-select-dropdown-default-border-radius: $input-border-radius;
$ember-power-select-selected-background: $ember-power-select-background-color;

@import 'ember-power-select';
@import 'ember-power-select/themes/bootstrap';

.ember-power-select-trigger {
  transition: all 0.2s ease;

  .ember-power-select-status-icon {
    font-family: 'oneicons' !important;
    border: 0;
    transform: none;
    right: 1.7em;
    top: 0.55em;
    margin: initial;
    font-size: 1.7em;
    font-weight: bold;
    &:before {
      content: $oneicon-arrow-down;
    }
  }

  &:not([aria-expanded]) {
    box-shadow: 1px 1px 2px #eee inset;
  }

  &[aria-expanded="true"] {
    color: white;
    background-color: $color-one-azure;

    .ember-power-select-status-icon {
      transform: none;
      &:before {
        content: $oneicon-arrow-up;
      }
    }
  }
}

.ember-power-select-dropdown {
  box-shadow: 0 0 5px #ccc;

  .ember-power-select-option {
    border-bottom: 1px solid $input-border;
    padding: $padding-base-vertical;

    &::last-child {
      border-bottom: 0;
    }
  }
}
