.login-box {
  .row {
    .login-upper-title {
      font-size: 35px;
      text-transform: uppercase;
      text-align: center;
      @include font-bold();
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
    }
    .login-titles {
      padding-top: 25px;
      padding-right: 20px;
      @media (max-width: $screen-xs-max) {
        padding-top: 15px;
      }
      .login-main-subtitle {
        font-size: 14px;
        text-transform: none;
      }
      .login-main-title {
        text-transform: none;
      }
    }
  }
  $-login-form-width: 400px;
  .login-main-title {
    &.onezone {
      background-image: url($root-url + 'images/onezone-logo.svg');
    }
    &.oneprovider {
      background-image: url($root-url + 'images/oneprovider-logo.svg');
      background-size: 25px;
    }
  }
  .login-logo {
    background-image: url($root-url + 'images/control-panel.svg');
    margin-left: 20px;
  }
  .basicauth-login-form {
    max-width: $-login-form-width;
    margin: 0 auto;
  }
  .login-separator {
    max-width: $-login-form-width;
    margin-top: $form-group-margin-bottom;
    margin-bottom: $form-group-margin-bottom;
  }
  .login-section-description {
    text-align: center;
    margin-top: $form-group-margin-bottom;
    @include font-semibold();
  }
  .resource-load-error {
    background-color: $color-one-semiwhite;
  }
  .col-user-profile-icon {
    margin-bottom: 60px;
  }
}
