.login-box {
  $-login-form-width: 400px;
  .login-main-title {
    &.onezone {
      background-image: url($root-url + 'images/onezone-logo.svg');
    }
    &.oneprovider {
      background-image: url($root-url + 'images/oneprovider-logo.svg');
      background-size: 25px;
    }
  }
  .login-logo {
    background-image: url($root-url + 'images/control-panel.svg');
  }
  .basicauth-login-form {
    max-width: $-login-form-width;
    margin: 0 auto;
  }
  .login-separator {
    max-width: $-login-form-width;
    margin-top: $form-group-margin-bottom;
    margin-bottom: $form-group-margin-bottom;
  }
  .login-section-description {
    text-align: center;
    margin-top: $form-group-margin-bottom;
    @include font-semibold();
  }
  .resource-load-error {
    background-color: $color-one-semiwhite;
  }
  .col-user-profile-icon {
    margin-bottom: 20px;
  }
}
