.login-layout {
  &.with-emergency-warning-bar {
    margin-bottom: -$one-warning-bar-height;
    padding-bottom: $one-warning-bar-height * 2;
    
    .login-service-version {
      @media (min-height: $screen-fixed-service-version-height-min) {
        bottom: $one-warning-bar-height;
      }
    }
  }
}

.login-layout::before {
  position: absolute;
  top: 0;
  background-image: url($root-url + 'images/main-background.jpg');
  background-size: cover;
  background-position-x: center;
  left: 0;
  bottom: 0;
  right: 0;
  content: ' ';
  filter: grayscale(0.9);
}
