.login-box {
  .col-user-profile-icon {
    height: 130px;
    margin-bottom: 10px;
    .one-icon {
      opacity: 0.8;
      font-size: 120px;
    }
  }
  .row-login-header {
    margin-bottom: 30px;
    h4 {
      font-family: 'Open Sans Semibold';
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: $letter-spacing-base;
    }
  }
  // TODO: remove class after icons resize
  .additional-bottom-margin {
    margin-bottom: 25px;
  }
}
