$mobile-horizontal-content-padding: $padding-large-horizontal;
$content-row-vertical-padding: $padding-base-vertical;
$content-header-row-height: $onedata-logo-margin-top * 2 + $onedata-logo-height - $content-col-padding;

.main-content {
  color: $color-one-steel;

  .content-row {
    border-bottom: 1px solid $main-content-border-color;
    padding: $content-row-vertical-padding 0;
    letter-spacing: $letter-spacing-base;

    @media screen and (min-width: $screen-sm-min) {
      &.header-row {
        height: $content-header-row-height;
        padding-top: 0;
        padding-bottom: $content-row-vertical-padding;
      }
    }

    &.no-border,
    &:last-child {
      border-bottom: 0;
    }

    h1 {
      font-size: $font-size-base;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 2.5;
      margin: 0;

      &+p {
        margin-top: 0.7em;
      }
      .btn-toolbar button {
        // vertical align floating toolbar
        margin-bottom: 0.3em;
      }
    }

    .form-title {
      margin-top: $content-row-vertical-padding;
      text-align: center;
    }
    
    .form-description {
      text-align: center;
    }

    form {
      margin-top: 2 * $content-row-vertical-padding;
      margin-bottom: 2 * $content-row-vertical-padding;
    }

    @include btn-toolbar-float-right();
  }

  .row {
    // needs to be set for animation purposes
    max-height: 99999em;
    opacity: 1;
    transition: $collapse-transition;
    &.row-small {
      max-height: 70em;
    }
    &.row-hidden {
      max-height: 0;
      padding: 0;
      overflow: hidden;
      opacity: 0;
    }
  }

  @media screen and (max-width: $screen-xs-max) {
    .content-row {
      border-bottom: 0;

      p,
      h1,
      form {
        padding: 0 $mobile-horizontal-content-padding;
      }

      h1 {
        font-size: $font-size-base * 0.9;
      }

      .btn-toolbar {
        .btn {
          font-size: 0.85em;
          margin-left: 0.8em;
        }
      }
    }
  }
}
