.no-admin-box {
  $-box-vertial-padding: 20px;
    
  .row-first-button {
    padding-top: $-box-vertial-padding;
    text-align: center;
    .btn {
      width: 300px;
      max-width: 100%;
    }
  }
  .description {
    text-align: center;
    font-size: 16px;
  }
  .hostname-row {
    padding-top: $-box-vertial-padding;
    padding-bottom: $-box-vertial-padding;
  }
  .btn-back {
    .oneicon.oneicon-arrow-right {
      display: inline-block;
      transform: rotate(180deg);
    }
  }
}
