.one-collapsible-list-item-content {
  overflow-y: hidden;
  opacity: 0;
  max-height: 0;
  transition: $collapse-transition;
  border-bottom: 1px solid $main-content-border-color;
  &.opened {
    max-height: 500px;
    opacity: 1;
  }
}
