.one-collapsible-toolbar {
  &.minimized {
    .collapsible-toolbar-toggle {
      // FIXME temporarily disabled - enable in global
      // transform: translateY(30%);
      .icon-dot {
        background-color: $main-text-color;
        height: 0.4em;
        width: 0.4em;
        margin-bottom: 0.25em;
        border-radius: 100%;
      }
    }
  }
  .collapsible-toolbar-buttons {
    white-space: nowrap;
  }
}

// FIXME should be moved from here, this is only a draft!
.btn-menu-toggle {
  padding: 8px 12px;
  position: absolute;
  // FIXME use padding of header
  right: 1.5em;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid transparent;
  
  &:hover {
    background-color: $color-sidebar-item-bg;
    border: 1px solid $color-one-list-item-separator;
    border-radius: $border-radius-small;
  }
}

.one-collapsible-toolbar-popover {
  width: $mobile-menu-popover-width;
  .dropdown-menu {
    font-size: $font-size-base;
  }
}
