.one-collapsible-list-item {
  background-color: inherit;
  transition: background-color .3s linear;
  &.active {
    background-color: $main-content-hover-background;
  }
  .row {
    padding: 1.5em;
  }
}
