.one-sidebar {
  .row-heading {
    .col-title {
      padding: $one-sidebar-item-padding;
      padding-top: 30px;
      padding-bottom: 30px;
      font-family: 'Open Sans Semibold';
      line-height: initial;
    }
  }
  .row-body {
    .search-bar-item {
      padding-top: $one-sidebar-item-padding;
      .item-header {
        margin-bottom: $one-sidebar-item-padding;
      }
    }
  }
}
