.app-layout .side-menu {
  background-color: $color-sidebar-background;

  // override side-menu default style
  ul > li {
    line-height: 64px;
  }
}

.side-menu .one-list-item.main-menu-item {
  color: $color-one-graphite;

  &.active {
    background-color: $color-one-white-blue;
  }

  &.disabled {
    color: rgba($color-one-graphite, 0.5);
  }

  &::after {
    @include top-line(none);
  }

  &:last-of-type {
    &::after {
      @include bottom-line(none);
    }
  }
}
