.space-cleaning-conditions-form {
  .form-control {
    display: inline-block;
    width: 4.5em;
    padding: $padding-xs-horizontal;
    text-align: center;
    vertical-align: top;
  }
  .control-label {
    padding-top: $padding-base-vertical / 2;
    text-align: left;
  }
  .form-group {
    margin-bottom: $padding-small-vertical;
    .row {
      border-bottom: 0;
    }
  }
  .ember-basic-dropdown {
    display: inline-block;
    margin-left: $padding-small-vertical;
  }
  .fileSizeGreaterThanGroup, .fileSizeLesserThanGroup {
    .ember-power-select-trigger {
      width: 5em;
    }
  }
  .fileTimeNotActiveGroup {
    .ember-power-select-trigger {
      width: 7em;
    }
  }
  .one-way-toggle {
    vertical-align: top;
    margin-top: 0.5em;
  }
}
