.space-cleaning-conditions-form {
  $-form-second-breakpoint: 450px;
  .form-control {
    display: inline-block;
    width: 4.5em;
    padding: $padding-xs-horizontal;
    text-align: center;
    vertical-align: top;
  }
  .control-label {
    padding-top: $padding-base-vertical / 2;
    text-align: left;
  }
  .form {
    display: table;
    @media (max-width: $screen-xs-max) {
      padding: 0 $padding-large-horizontal;
    }
    @media (max-width: $-form-second-breakpoint) {
      display: block;
    }
    .form-group {
      position: relative;
      margin-bottom: $padding-small-vertical;

      @media (min-width: $-form-second-breakpoint + 1px) { 
        display: table-row;
        width: 100%;
        .label-column, .fields-column, .toggle-column {
          display: table-cell;
          vertical-align: top;
        }
        .fields-column {
          padding: 0 $padding-large-horizontal;
        }
      }
      @media (max-width: $-form-second-breakpoint) {
        
        .label-column, .fields-column, .toggle-column {
          vertical-align: top;
        }
        .label-column {
          text-align: left;
        }
        .toggle-column {
          position: absolute;
          top: 1.5em;
          right: 0;
        }
      }
    }
  }
  .ember-basic-dropdown {
    display: inline-block;
    margin-left: $padding-small-vertical;
  }
  .fileSizeGreaterThanGroup, .fileSizeLesserThanGroup {
    .ember-power-select-trigger {
      width: 5em;
    }
  }
  .fileTimeNotActiveGroup {
    .ember-power-select-trigger {
      width: 7em;
    }
  }
  .one-way-toggle {
    vertical-align: top;
    margin-top: 0.5em;
  }
}
