.space-support-chart {
  // FIXME: generate more colors automatically by darkening/lightening
  $-chart-colors: $color-one-mint $color-one-azure $color-one-red;
  
  .ct-chart {
    @for $i from 0 to length($chart-colors) {
      .ct-series-#{$i} {
        .ct-bar {
          stroke: nth($chart-colors, $i + 1);
        }
      }
    }
    .ct-label.ct-horizontal.ct-end {
      transform: translateX(-50%) translateY($padding-small-vertical) rotate(-45deg);
    }
    .ct-legend {
      @for $i from 0 to length($chart-colors) {
        .ct-series-#{$i}:before {
          background-color: nth($chart-colors, $i + 1);
          border-color: nth($chart-colors, $i + 1);
        }
      }
    }
  }
}
