.space-support-chart {
  // FIXME: generate more colors automatically by darkening/lightening
  $chart-colors: $color-one-mint $color-one-azure $color-one-red orange;
  
  .ct-chart {
    height: initial;
    margin-bottom: 0;
    @for $i from 0 to length($chart-colors) {
      .ct-series-#{$i} {
        .ct-slice-pie {
          fill: nth($chart-colors, $i + 1);
        }
      }
    }
    .ct-legend.ct-legend-inside  {
      position: static;
      @for $i from 0 to length($chart-colors) {
        .ct-series-#{$i}:before {
          background-color: nth($chart-colors, $i + 1);
          border-color: nth($chart-colors, $i + 1);
        }
      }
    }
    svg {
      position: static;
    }
  }
}
