.space-cleaning-reports {
  table thead tr th,
  table tbody tr td {
    padding: $padding-base-vertical;
    text-align: center;
  }

  .status-cell {
    display: inline-block;
    font-size: 170%;
    vertical-align: top;
    line-height: 0;
    &.success {
      color: $color-one-mint;
    }
    &.failure {
      color: $color-one-red;
    }
    .one-icon {
      position: relative;
      top: -0.1em;
    }
  }
}
