.space-auto-cleaning {
  $mobile-breakpoint: 1100px;
  .cleaning-settings-row {
    .form {
      .row {
        margin: 0;
      }
    }
    .form-cell {
      width: 320px;
      form {
        margin: 0;
        padding: 0;
      }
    }
    @media (min-width: $mobile-breakpoint + 1px) {
      display: table;
      width: 100%;
      .form-cell {
        display: table-cell;
        vertical-align: top;
      }
      .bar-cell {
        display: table-cell;
        vertical-align: top;
        .indicators {
          padding-top: 0;
        }
      }
      .space-cleaning-conditions-form {
        form {
          margin: 0;
        }
      }
    }
    @media (max-width: $mobile-breakpoint) {
      .form-cell {
        margin: 0 auto;
        label {
          text-align: right;
          padding-right: $padding-base-horizontal;
        }
      }
      .bar-cell {
        .indicators p {
          text-align: left;
          .indicator-row {
            display: block;
          }
        }
      }
    }
  }
  @media (max-width: $screen-xs-max) {
    .one-collapsible-list-item:last-child {
      .one-collapsible-list-item-header {
        border-bottom: 0;
      }
      .one-collapsible-list-item-content.opened {
        border-top: 1px solid $main-border-color;
        border-bottom: 0;
      }
    }
    .one-collapsible-list-item-header.row {
      margin: 0;
      padding: $padding-large-horizontal $padding-large-vertical;
    }
  }
}

