.space-cleaning-reports {
  table thead tr th,
  table tbody tr td {
    padding: $padding-base-vertical;
    text-align: center;
  }

  .status-cell {
    display: inline-block;
    font-size: 170%;
    vertical-align: top;
    line-height: 0;

    &.active {
      .oneicon {
        color: $color-one-mint;
        @extend .animated;
        @extend .infinite;
        @extend .semi-hinge;
        @extend .pulse-mint;
      }
    }
    &.completed {
      .oneicon {
        color: $color-one-mint;
      }
    }
    &.failed {
      .oneicon {
        color: $color-one-red;
      }
    }
    &.cancelling {
      .oneicon {
        color: $color-one-orange;
        @extend .animated;
        @extend .infinite;
        @extend .semi-hinge;
        @extend .pulse-orange;
      }
    }
    &.cancelled {
      .oneicon {
        color: $color-one-orange;
      }
    }

    .one-icon {
      position: relative;
      top: -0.1em;
      &.oneicon-update {
        top: 0;
        @media (max-width: $screen-xs-max) {
          margin: 0 10%;
        }
        font-size: 80%;
      }
    }
  }
}
