.space-sync-chart-base {
  .chart-row {
    .ct-chart .ct-legend {
      white-space: nowrap;
    }
    @media (max-width: 500px) {
      overflow-x: auto;
      overflow-y: hidden;
      svg {
        min-width: 400px;
      }
    }
  }
}
