.storage-import-chart-base {
  .chart-row {
    position: relative;
    .ct-chart .ct-legend {
      white-space: nowrap;
    }
    @media (max-width: 500px) {
      svg {
        min-width: 400px;
      }
    }
  }
  .scrollable-row {
    overflow-x: auto;
    // prevent vertical scroll on some layouts
    padding-bottom: 4px;
  }
  .ct-square {
    position: initial;
  }
}
