.supporter-name-column {
  .popover-info-trigger {
    padding-top: 0.2em;
    margin-left: 0.15em;
    width: 0.9em;
    height: 0.9em;
  }

  .flippable-icons {
    --width: 0.9em;
    --height: 0.9em;
  }
}