.two-level-sidebar {
  font-size: 13px;
  font-family: 'Open Sans Semibold';
  letter-spacing: 0.1px;

  input {
    font-family: 'Open Sans';
  }

  .one-list-item {
    &.active {
      background-color: $color-one-15;
    }
    .one-icon {
      display: inline-block;
      position: relative;
      margin-right: 0.3em;
      top: 0.3em;
    }
    .item-header {
      padding: 0 $one-sidebar-item-padding;
      &:hover {
        background-color: darken($color-one-15, 3%);
      }
      .one-icon {
        font-size: 2.2em;
      }
    }
    &.search-bar-item .item-header:hover {
      background-color: initial;
    }
    .one-list-level-2 {
      .item-header {
        padding: 0 $one-sidebar-item-padding * 2.2;
      }
    }
  }
}
