.user-account-button {
  .user-account-button-main {
    // TODO a style from list item, list header
    width: 100%;
  }
  .webui-popover {
    width: 200px;
  }
  .user-toggle-icon {
    // TODO temporary style, use margin of popover arrow
    margin-right: 20px;
  }
}

.dropdown-menu {
  li {
    width: 100%;
  }
}
