<form {{action 'submitLogin' username password on="submit"}}>
  {{input value=username class="one-component"}}
  {{input value=password class="one-component" type="password"}}

  <button type="submit" class="btn one-default one-component">Submit login</button>
</form>

{{#if lastFailed}}
<div>Login failed</div>
{{/if}}

{{yield}}
