{{!-- TODO i18n --}}

{{#bs-form class="form-horizontal"
  onSubmit=(action "submitLogin" username password)
  formLayout="horizontal"
  as |form|}}
  
  {{#form.group}}
    {{one-way-input username
      class="form-control one-component"
      update=(action (mut username))
      placeholder="Username"
      disabled=isDisabled
    }}
  {{/form.group}}
  {{#form.group}}
    {{one-way-password password
      class="form-control one-component"
      update=(action (mut password))
      placeholder="Password"
      disabled=isDisabled
    }}
  {{/form.group}}
  <div class="row text-center">
    {{#spin-button class="btn btn-default one-component"
      buttonStyle="expand-left"
      action=(action "submitLogin" username password)
    }}
      Sign in
    {{/spin-button}}
  </div>
{{/bs-form}}