<div class="container world-map light">
  <div class="row text-center">
    <div class="col-xs-12">
      <h1>{{header}}</h1>
      <h2>{{subheader}}</h2>
      <p class="lead">{{text}}</p>
    </div>
  </div>
  {{#if imagePath}}
    {{!-- TODO row with optional image --}}
  {{/if}}
  <div class="row text-center">
    <div class="col-xs-12">
      {{#spin-button class="btn btn-primary" action=(action buttonAction)}}
        {{buttonLabel}}
      {{/spin-button}}
    </div>
  </div>
  {{!-- TODO yield content --}}
</div>
