{{!-- TODO there should be generic empty-resources component --}}
<div class="row">
  <div class="col-xs-12">
    <h1 class="text-center">Welcome</h1>
  </div>
  <div class="col-xs-12">
    <h2 class="text-center">You should create a new cluster to start work</h2>
  </div>
  <div class="col-xs-12 text-center">
    {{#link-to "onedata.sidebar.content" "clusters" "new"
      class="btn one-component one-default"
    }}
      Create new cluster
    {{/link-to}}
  </div>
</div>
