{{!-- TODO there should be generic empty-resources component --}}
{{!--<div class="row">
  <div class="col-xs-12">
    <h1 class="text-center">Welcome</h1>
  </div>
  <div class="col-xs-12">
    <h2 class="text-center">You should create a new cluster to start work</h2>
  </div>
  <div class="col-xs-12 text-center">
    {{#link-to "onedata.sidebar.content" "clusters" "new"
      class="btn btn-default"
    }}
      Create new cluster
    {{/link-to}}
  </div>
</div>--}}

{{!-- TODO i18n--}}



<div class="container world-map light">
  <div class="row text-center">
    <div class="col-xs-12">
      <h2>Welcome</h2>
      <h3>to Onezone</h3>
      <p class="lead">Currently you do not have any cluster deployed.</p>
      <h1>One</h1>
      <h2>Two</h2>
      <h3>Three</h3>
      <h4>Four</h4>
      <h5>Five</h5>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12">
      {{#link-to "onedata.sidebar.content" "clusters" "new"
        class="btn btn-primary"
      }}
        Create new cluster
      {{/link-to}}
    </div>
  </div>
</div>
