{{!-- Bootstrap layout for signed-in user --}}

{{!-- TODO: to think about: nested yielded main content (col in col) or side-by-side? --}}

<div class="container-fluid">
  <div class="row">
    {{!-- TODO the main-menu should be fixed or sth --}}
    {{!-- TODO: col-main-menu --}}
    <div class="col-main-menu hidden-xs hidden-sm col-md-3 col-lg-2">
      {{#each items as |item|}}
        {{main-menu-item item=item}}
      {{/each}}
    </div>
    <div class="col-xs-12 col-sm-9 col-lg-8">
      {{yield}}
    </div>
  </div>
</div>
