<h1>Deploying cluster, please wait...</h1>
{{#bs-progress as |p|}}
  {{p.bar
    value=progress minValue=0 maxValue=1 showLabel=false
    type="primary" animate=true striped=true
  }}
{{/bs-progress}}
<h2><strong>Stage:</strong> {{step}}</h2>
