{{!-- TODO link ember hrefs should be parametrized not hardcoded --}}

<h1>Congratulations: {{clusterId}}</h1>
{{#link-to 'onedata.sidebar.content' 'clusters' clusterId
  class="btn btn-default one-component"
}}
  Manage cluster
{{/link-to}}
