{{#if noStorages}}
  {{cluster-storage-add-form submit="submitAddStorage"}}
{{else}}
  <div class="row">
    <div class="btn-toolbar pull-right">
      {{#bs-button type="default" onClick=(action "startAddStorage")}}
        Add storage
      {{/bs-button}}
      {{#bs-button type="primary" onClick=(action "next")}}
        Finish
      {{/bs-button}}
    </div>
  </div>
  <div class="row">
    {{cluster-storage-table storages=storages}}  
  </div>
{{/if}}

{{!-- TODO reset form values on open --}}
{{#bs-modal
  id="add-storage"
  open=addStorageOpened
  body=false
  footer=true
  as |modal|
}}
  {{#modal.body}}
    {{cluster-storage-add-form submit="submitAddStorage"}}
  {{/modal.body}}
{{/bs-modal}}
