{{#one-list-wrapper items=model.collection as |item|}}
  <li class="one-list-item">
    <div class="item-header">
      {{item.label}}
    </div>
    <ul class="one-list one-list-level-2">
      <li class="one-list-item">
        <div class="item-header">Members</div>
      </li>
      <li class="one-list-item">
        <div class="item-header">Statistics</div>
      </li>
      <li class="one-list-item">
        <div class="item-header">Something</div>
      </li>
    </ul>
  </li>
{{/one-list-wrapper}}
