<ul class="one-list">
  <li class="one-list-item">
    {{search-bar search=(action (mut query))}}
  </li>
  {{#each items as |item|}}
    {{#if (match-query item.label query)}}
      {{!-- TODO try inject item format and make spaces-list generic searchable list --}}
      <li class="one-list-item">
        {{item.label}}
      </li>
    {{/if}}
  {{/each}}
</ul>
