$root-url: rootUrl();

@import 'colors';
@import 'utils';
@import 'fonts';

@import 'bootstrap-config';
@import 'ember-power-select-config';
@import 'side-menu';
@import '_spin-button-base';
@import 'spin-button-overrides';


// should be same as rootURL in environment.js
// TODO maybe use https://github.com/davidpett/ember-cli-sass-variables

$mobile-top-height: 70px;
$main-menu-width: 212px;

$color-overlay: $content-backdrop-bg;

$zindex-layer-1-2-overlay: $zindex-modal-background;
$zindex-layer-1-max: $zindex-layer-1-2-overlay - 1;
$zindex-layer-2-min: $zindex-layer-1-2-overlay + 1;

// TODO: color not defined!
$color-sidebar-background: #F2F4FA;
// TODO
$color-one-list-item-separator: darken($color-sidebar-background, 5);
$color-one-list-item-hover-bg: darken($color-sidebar-background, 2);
$color-main-menu-separator: rgba($color-one-list-item-separator, 0.05);

$one-list-item-separator: 1px solid;

$color-main-menu-bg-top: #06235C;
$color-main-menu-bg-bottom: #4686CF;

$one-list-item-active-left-border-width: 8px;

@import 'common';

@import 'spin-spinner-extensions';
@import 'side-menu-overrides';
@import 'app-layout';
@import 'login-layout';
@import 'one-list';
@import 'one-list-item';
@import 'main-menu';
@import 'main-menu-item';
@import 'one-sidenav';
@import 'one-steps';
@import 'one-step';
@import 'basic-table';
@import 'basicauth-login-form';
@import 'login-box';
@import 'one-list-wrapper';
@import 'two-level-sidebar';

// TODO a mess

html,
body {
  position: relative;
  height: 100%;
}

// component TODO
.one-sidebar-toolbar-button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  line-height: 32px;
  text-align: center;
  font-size: 26px;
  color: $color-one-white;
  background-color: blue;
}

