.full-height {
  height: 100%;
  overflow-y: auto;
}

.clickable {
  cursor: hand;
  cursor: pointer;
}

.overlay {
  // TODO: animation
  position: absolute;
  @include fill-container();

  z-index: $zindex-layer-1-2-overlay;
  background-color: $color-overlay;
}

.disable-user-select {
  > * {
    @include vendor-prefix(user-select, none);
    cursor: default;
  }
}
