.sidenav {
  width: 0;
  position: fixed;
  z-index: $zindex-layer-2-min;
  top: 0;
  bottom: 0;
  background-color: $color-one-white;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.2s;

  // initial size
  left: 0;
  width: 0;

  // &.in {
  //   width: 100%
  // }
}
