.cluster-storage-add-form {
  .form .checkbox-input .row {
    display: flex;
    align-items: center;
  }
  // TODO: VFS-12493 Remove that class and update it to use global error styles
  .radio-group-input.has-message {
    .form-message {
      color: $state-danger-text;
    }
    .warning-text {
      color: $state-warning-text;
    }
  }
}
