.cluster-storages-tile {
  .tile-content {
    position: relative;
  }
  .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    $-circle-size: 150px;
    @include absolute-align-middle-center();
    height: $-circle-size;
    width: $-circle-size;
    background-color: $color-one-light-blue;
    border-radius: 100%;
    line-height: $-circle-size;
    @include font-semibold();
    font-size: 40px;
    white-space: nowrap;
    .one-icon {
      position: relative;
      margin: 0 -10px;
      font-size: 2em;
      color: $color-one-blue-gray;
    }
  }
  .storages-number-many-digits {
    font-size: 70%;
  }
}
