$cluster-storage-add-form-label-width: 20em;

.cluster-storage-add-form {
  .form .checkbox-input .row {
    display: flex;
    align-items: center;
  }
  // TODO: VFS-12493 Remove that class and update it to use global error styles
  .radio-group-input.has-message .form-message {
    color: $state-danger-text;
  }

  .qos-params-editor .row {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  @media (min-width: 951px) {
    .form-component .control-label {
      width: $cluster-storage-add-form-label-width;
    }
    .qos-params-editor .row {
      flex-direction: row;
    }
  }

  @media (max-width: 950px) {
    .form-group {
      flex-wrap: wrap;
    }

    .control-label {
      width: 100%;
      margin-bottom: 5px;
      text-align: left;
      padding-top: 0;
    }

    .toggle-field-renderer,
    .color-field-renderer {
      flex-wrap: nowrap;

      .control-label {
        width: initial;
        flex-grow: 1;
      }

      .field-component {
        flex-grow: 0;
      }
    }
  }

  .submit-group {
    width: 100%;
    justify-content: center;
  }
  .one-label-tip ~ .form-optional-text {
    padding-right: 2.5em;
  }
}
