
.cluster-dns-check-table {
  $-dns-check-description-padding-base: $padding-large-horizontal * 0.5;
  $-dns-check-description-padding-small: $-dns-check-description-padding-base * 0.5;
  $-dns-check-item-padding-vertical: $padding-small-vertical;
  
  .check-item {
    padding-top: $padding-large-vertical;
    padding-bottom: $padding-large-vertical;
    
    background-color: $table-bg;
    &:nth-of-type(odd) {
      background-color: $table-bg-accent;
    }
  }
  .check-item-container {
    width: 100%;
  }
  .check-state {
    width: 72px;
    text-align: center;
  }
  .check-description {
    padding-right: $padding-small-horizontal;
    .row-toggle-details {
      margin-top: $padding-large-vertical;
    }
    .row-check-details {
      max-height: 0;
      margin-top: 0;
      overflow: hidden;
      transition: $collapse-transition, margin-top .2s linear;
      opacity: 0;
      color: $main-text-color;
      &.active {
        max-height: 20em;
        margin-top: $padding-small-vertical;
        opacity: 1;
        overflow: auto;
      }
    }
  }
  .ip-list {
    display: inline-block;
    @media (max-width: $screen-xs-max) {
      display: block;
      padding-top: $padding-small-vertical;
    }
  }
  
  .row-recommended-dns-records {
    padding-top: $padding-small-vertical;
  }
  
  .recommended-dns-records {
    display: block;
    width: 100%;
    resize: none;
    overflow-y: auto;
    font-family: $font-family-monospace;
  }
}

@media (max-width: $screen-xs-max) {
  .content-row {
    .check-item {
      .check-state {
        padding-left: $mobile-horizontal-content-padding;
      }
      .check-description {
        padding-right: $mobile-horizontal-content-padding;
      }
    }
  }
}

