.cluster-storage-add-form {
  $cluster-storage-form-breakpoint: 950px;

  .form .checkbox-input .row {
    display: flex;
    align-items: center;
  }
  // TODO: VFS-12493 Remove that class and update it to use global error styles
  .radio-group-input.has-message .form-message {
    color: $state-danger-text;
  }
  .radio-inline.disabled {
    opacity: $disabled-opacity;
  }
  .qos-params-editor .row {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  @media (min-width: $cluster-storage-form-breakpoint + 1) {
    .form-component .control-label {
      width: 20em;
    }
    .qos-params-editor .row {
      flex-direction: row;
    }
  }

  @media (max-width: $cluster-storage-form-breakpoint) {
    .form-group {
      flex-wrap: wrap;
    }

    .control-label {
      width: 100%;
      margin-bottom: 5px;
      text-align: left;
      padding-top: 0;
    }

    .toggle-field-renderer,
    .color-field-renderer {
      flex-wrap: nowrap;

      .control-label {
        width: initial;
        flex-grow: 1;
      }

      .field-component {
        flex-grow: 0;
      }
    }
  }

  .submit-group {
    width: 100%;
    justify-content: center;
  }
  .one-label-tip ~ .form-optional-text {
    padding-right: 2.5em;
  }

  .credentialsType-field {
    align-items: center;

    .field-component {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: $padding-base-horizontal;
    }
  }
}
