.conflicting-ports-info {
  display: flex;
  align-items: center;

  .info-icon + .text {
    // determined empirically to match paddings visually
    margin-left: 15px;
  }

  .one-icon {
    font-size: 2em;
  }

  .text {
    min-width: 0;
  }

  @media (max-width: $screen-sm-max) {
    align-items: flex-start;
  }
}
