// Common styles for alerts in cluster nodes views. Defined here, because it is the only
// separate component for alert on these views.
$cluster-nodes-alert-flex-gap: 15px;
.cluster-nodes-alert {
  display: flex;
  align-items: center;
  gap: $cluster-nodes-alert-flex-gap;

  .text-icon-container {
    display: flex;
    align-items: center;
    gap: $cluster-nodes-alert-flex-gap;
    .one-icon {
      font-size: 2em;
    }
    .text {
      min-width: 0;
    }
    @media (max-width: $screen-sm-max) {
      align-items: flex-start;
    }
  }

  @media (max-width: $screen-sm-max) {
    flex-wrap: wrap;
  }
}
