.content-clusters-nodes {
  // FIXME: ujednolicić z conflicting-ports-info
  .editing-unlocked-toggles-alert {
    display: flex;
    align-items: center;

    .info-icon + .text {
      // determined empirically to match paddings visually
      margin-left: 15px;
    }

    .one-icon {
      font-size: 2em;
    }

    .text {
      min-width: 0;
    }
  }
}
