.space-cleaning-conditions-form {
  .minFileSizeGroup, .maxFileSizeGroup {
    .ember-power-select-trigger {
      width: 5em;
    }
  }
  .minHoursSinceLastOpenGroup {
    .ember-power-select-trigger {
      width: 7em;
    }
  }
  .selective-cleaning-rules-form {
    padding-left: 0;
    padding-right: 0;
  }
}
