<span class="supported-spaces-header">
  <strong>{{t 'components.storageItem.generic.supportedSpaces.title'}}</strong>
  {{#if supportTotalSizeHuman}}
    <span class="support-size">
      ({{t 'components.storageItem.generic.supportedSpaces.total'}} {{supportTotalSizeHuman}})
    </span>
  {{/if}}
</span>
{{#each supportedSpaces as |space|}}
  {{storage-item/supported-spaces/item space=space providerId=providerId}}
{{/each}}
