{{#one-spin-button
  class=(concat-classes "btn btn-sm" (if showScanStop "btn-danger" "btn-success"))
  disabled=(if showScanStop (not allowScanStop) (not allowScanStart))
  action=(if showScanStop stopScan startScan)
}}
  {{one-icon icon=(if showScanStop "cancelled" "play")}}
  <span class="text">{{tt this (if showScanStop "stopScan" "startScan")}}</span>
{{/one-spin-button}}
