<span class="warning-icon-container">
  <img class="warning-icon" src={{root-url "assets/images/sign-warning-large.svg"}}>
  {{one-tooltip
    title=field.warningTip
    triggerEvent="hover"
  }}
</span>
