{{#bs-form submitOnEnter=false class="form-horizontal" as |form|}}
  {{#form.group}}
    {{#power-select
      options=storageTypes
      selected=selectedStorageType
      onchange=(action "storageTypeChanged")
      searchEnabled=false
      renderInPlace=true
      as |storageType|
    }}
      {{storageType.name}}
    {{/power-select}}
  {{/form.group}}
  
  {{one-form-fields
    bsForm=form
    fields=currentFields
    formValues=formValues
    inputChanged=(action "inputChanged")
  }}
  <div class="row text-center">
    {{#spin-button type="submit" class="btn btn-primary" action=(action "submit")}}
      Add
    {{/spin-button}}
  </div>
{{/bs-form}}
