{{#one-tile
  title=(concat (tt this "title") (if clusterConfiguration.isFulfilled (concat " (" allNodes.length ")") ""))
  class="cluster-nodes-tile"}}
  {{#promise-proxy-container proxy=clusterConfiguration}}
    <div class="services-header">{{tt this "servicesHeader"}}:</div>
    {{#each serviceRows as |serviceRow|}}
      <div class="service-row">
        <div class="service-name">{{serviceRow.serviceName}}</div>
        <div class="service-visualisation">
          {{#each serviceRow.boxes as |box|}}
            <div class="service-visualisation-box {{box.type}}"></div>
          {{/each}}
        </div>
      </div>
    {{/each}}
  {{/promise-proxy-container}}
{{/one-tile}}
