{{#one-tile
  title=(tt this "title")
  aspect="spaces"
  class="cluster-spaces-tile text-center"}}
  {{#promise-proxy-container proxy=providerIdProxy}}
    {{#promise-proxy-container
      proxy=spacesProxy
      loadingLabel=(tt this "loadingSupportData"
        loadedCount=loadedSpacesCount
        totalCount=totalSpacesCount
      )
    }}
      {{#if spacesProxy.length}}
        {{provider-spaces-support-chart
          spaces=spacesProxy
          providerId=providerIdProxy.content
          forceMobile=true
          hideLegend=true
          supportInfoFieldName="supportingProviders"}}
      {{else}}
        <figure class="main-figure">
          <img class="main-image" src="assets/images/space-get-support.svg">
          <span class="one-label">{{tt this "supportSpace"}}</span>
        </figure>
      {{/if}}
    {{/promise-proxy-container}}
  {{/promise-proxy-container}}
{{/one-tile}}
