  {{!-- TODO i18n --}}
  
<div class="row content-row header-row">
  <h1>Spaces
    {{#if _isToolbarVisible}}
      <div class="btn-toolbar">
        {{!-- Only for development --}}
        {{!--{{#spin-button
          action=(action "updateSpacesList")
          class="btn btn-sm btn-default btn-update-spaces-list"
        }}
          Refresh list
        {{/spin-button}}--}}
        {{#bs-button
          onClick=(action "toggleSupportSpaceForm")
          type=_supportSpaceButtonType
          class="btn-sm btn-support-space"
        }}
          {{_supportSpaceButtonLabel}}
        {{/bs-button}}
      </div>
    {{/if}}
  </h1>
</div>

<div class="row">
  <div id="support-space" class="row content-row row-small {{unless _supportSpaceOpened 'row-hidden'}}">
    <h1 class="form-title">Add support for a space</h1>
    {{support-space-form
      submitSupportSpace=(action "submitSupportSpace")
      isFormOpened=_supportSpaceOpened
    }}
  </div>
  {{#promise-proxy-container proxy=spacesProxy}}
    {{cluster-spaces-table
      spaces=spacesProxy.content
      revokeSpace=(action "revokeSpace")
    }}
  {{/promise-proxy-container}}
</div>
