  {{!-- TODO i18n --}}
  
<div class="row content-row header-row hidden-xs">
  <h1>Spaces
    {{!-- Only for development --}}
    {{!--{{#one-spin-button
      action=(action "updateSpacesList")
      class="btn btn-sm btn-default btn-update-spaces-list"
    }}
      Refresh list
    {{/one-spin-button}}--}}
    {{#if _isToolbarVisible}}
      {{#one-collapsible-toolbar isGlobal=true isMinimized=false as |dropdown|}}
        {{#dropdown.item buttonStyle=_supportSpaceButtonType triggerClasses="btn-support-space" itemAction=(action "toggleSupportSpaceForm")}}
          {{_supportSpaceButtonLabel}}
        {{/dropdown.item}}
      {{/one-collapsible-toolbar}}
    {{/if}}
  </h1>
</div>

<div class="row">
  <div id="support-space" class="row content-row row-small {{unless _supportSpaceOpened 'row-hidden'}}">
    {{#if _supportSpaceOpened}}
      <h1 class="form-title">Add support for a space</h1>
      {{support-space-form
        submitSupportSpace=(action "submitSupportSpace")
        isFormOpened=_supportSpaceOpened
      }}
    {{/if}}
  </div>
  {{#promise-proxy-container proxy=spacesProxy}}
    {{cluster-spaces-table
      spaces=spacesProxy.content
      revokeSpace=(action "revokeSpace")
      modifySpace=(action "modifySpace")
    }}
  {{/promise-proxy-container}}
</div>
