<div class="row content-row header-row">
  <h1>
    {{t 'components.contentClustersCredentials.title'}}
    {{#if userProxy.isFulfilled}}
      <div class="btn-toolbar">
        {{#bs-button
          type=_changePasswordButtonType
          class="btn-sm btn-change-password"
          onClick=(action "toggleChangePassword")
        }}
          {{_changePasswordButtonLabel}}
        {{/bs-button}}
      </div>
    {{/if}}
  </h1>
</div>
{{#promise-proxy-container proxy=userProxy}}
  <div class="row content-row">
    {{user-credentials-form
      username=userProxy.username
      changingPassword=_changingPassword
      submit=(action "submitChangePassword")
      class=_changePasswordButtonClass
    }}
  </div>
{{/promise-proxy-container}}
