<h1>Deregister provider?</h1>
<p>
  Deregistering provider from Zone will cause drop spaces support on 
  this provider and lost of access to data kept only in this provider.
</p>
<p>
  After leaving a Zone you can register again, but current support 
  provided for spaces will be lost.
</p>
<div class="btn-toolbar">
  {{#bs-button class="btn btn-sm" type="info" onClick=closeAction}}
    No, keep it registered
  {{/bs-button}}
  {{#one-spin-button
    class="btn btn-sm btn-danger"
    action=submitAction
  }}
    {{one-icon icon="remove"}} <span>Yes, deregister</span>
  {{/one-spin-button}}
</div>
