<div class="row content-row header-row">
  <h1>Storages
    <div class="btn-toolbar">
      {{#unless noStorages}}
        {{#bs-button type="default" class="btn-sm" onClick=(action "toggleAddStorageForm")}}
          {{_addStorageButtonLabel}}
        {{/bs-button}}
        {{#if finishButton}}
          {{#bs-button type="primary" class="btn-sm" onClick=(action "next")}}
            Finish
          {{/bs-button}}
        {{/if}}
      {{/unless}}
    </div>
  </h1>
</div>
<div class="row content-row row-small {{unless addStorageOpened "row-hidden"}}">
  <h1 class="form-title">Add a new storage</h1>
    {{cluster-storage-add-form 
      class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-centered" 
      submit=(action "submitAddStorage")
      isFormOpened=addStorageOpened}}
</div>
<div class="row">
  {{#promise-proxy-container proxy=storagesProxy}}
    {{#promise-proxy-container proxy=spacesProxy}}
      {{cluster-storage-table 
        storages=storagesProxy.content 
        spaces=spacesProxy.content}}
    {{/promise-proxy-container}}
  {{/promise-proxy-container}}
</div>
