{{#bs-modal
  id="redirecting-domain"
  open=open
  keyboard=false
  backdropClose=false
  as |modal|
}}
  {{#modal.body}}
    {{spin-spinner-block sizeClass="md" class="inline-centered description-bottom"}}
    <p class="loading-info">{{tt this "redirectingProgress"}}</p>
  {{/modal.body}}
{{/bs-modal}}
