<div class="row content-row">
  <h1>Storages
    <div class="btn-toolbar">
      {{#unless noStorages}}
        {{#bs-button type="default" class="btn-sm" onClick=(action "toggleAddStorageForm")}}
          {{_addStorageButtonLabel}}
        {{/bs-button}}
        {{#bs-button type="primary" class="btn-sm" onClick=(action "next")}}
          Finish
        {{/bs-button}}
      {{/unless}}
    </div>
  </h1>
</div>
<div class="row content-row row-small {{unless addStorageOpened "row-hidden"}}">
  <h1 class="form-title">Add a new storage</h1>
  {{#if addStorageOpened}}
    {{cluster-storage-add-form 
      class="col-xs-12 col-sm-8 col-md-6 col-lg-4 col-centered" 
      submit=(action "submitAddStorage")}}
  {{/if}}
</div>
<div class="row">
  {{#promise-proxy-container proxy=storagesProxy}}
    {{cluster-storage-table storages=storagesProxy.content}}
  {{/promise-proxy-container}}
</div>
