{{!-- TODO i18n --}}

<div class="content-row no-border">
  <h1 class="">Registration</h1>
  <p>Your software configuration has been successfully verified. 
    Please enter your onedata provider name and optional approximate geographical location.</p>
</div>
<div class="content-row row">
  {{#bs-form submitOnEnter=false class="col-xs-12 col-sm-8 col-md-6 col-lg-4 col-centered" as |form|}}
    {{one-form-fields
      bsForm=form
      fields=currentFields 
      formValues=formValues 
      inputChanged=(action "inputChanged")
      disabled=_isBusy
      onFocusOut=(action "focusOut")
    }}
    <div class="row text-center">
      {{#spin-button
        type="submit"
        class="btn btn-primary"
        buttonStyle="expand-left"
        action=(action "submit")
        disabled=(not isValid)
      }}
        {{t 'components.newClusterZoneRegistration.register'}}
      {{/spin-button}}
    </div>
  {{/bs-form}}
</div>
