{{!-- TODO i18n --}}

<div class="content-row no-border">
  <h1 class="">Registration</h1>
  <p>Your software configuration has been successfully verified. 
    Please enter your onedata provider name and optional approximate geographical location.</p>
</div>
<div class="content-row row">
  {{provider-registration-form
    mode="new"
    submit=(action "submit")
  }}
</div>
