{{#bs-form
  submitOnEnter=false
  class="col-xs-12 col-sm-8 col-md-6 col-lg-4 col-centered"
  as |form|
}}  
  {{one-form-fields
    bsForm=form
    fields=currentFields
    formValues=formValues
    inputChanged=(action "inputChanged")
    onFocusOut=(action "focusOut")
  }}
  
  {{#if submitButton}}
    <div class="row text-center">
      {{#spin-button
        class="btn btn-primary"
        action=(action "submit")
        disabled=(not _submitEnabled)
      }}
        {{submitText}}
      {{/spin-button}}
    </div>
  {{/if}}
{{/bs-form}}
