{{!--TODO i18n--}}
<div class="img-circle step-circle disable-user-select">
  <div class="step-number">
    {{displayedIndex}}
  </div>
</div>
<div class="step-title text-center">
  Step {{displayedIndex}}: {{title}}
</div>
