<div class="text-center" {{action "toggleInfoModal" true}}>
  <span class="one-warning-bar-title">{{text}}</span>
  <div class="inline-icon-container sm">
    {{one-icon icon="sign-info"}}
  </div>
</div>

{{#bs-modal
  id="one-warning-bar"
  open=infoOpened
  onHide=(action "toggleInfoModal" false)
  keyboard=true
  backdropClose=true
  as |modal|
}}
  {{yield (hash modal=modal)}}
{{/bs-modal}}
