<div class="circle" {{action "toggleActive" bubbles=false}}>
  {{one-icon icon="provider"}}
</div>
{{provider-place/drop 
  provider=provider 
  dropTrigger=(concat (concat "#" elementId) " .circle")}}
