{{#bs-form as |form|}}
  {{#each _sourceFieldNames as |fieldName|}}
    {{#form.group 
      class=(concat-classes (concat fieldName "Group") (if (get _formFieldsErrors (concat fieldName "Number")) "has-error"))}}
      <div class="row">
        <label for={{concat elementId fieldName}} class="col-xs-5 control-label">
          {{t (concat "components.spaceCleaningConditionsForm." fieldName)}}
        </label>
        <div class="col-xs-7">
          {{one-way-input
            value=(get _formData (concat fieldName "Number"))
            class="form-control input-sm"
            focusOut=(action "lostFocus")
            update=(action "dataChanged" (concat fieldName "Number"))
            elementId=(concat elementId fieldName)}}
          {{#power-select
            triggerClass="small"
            dropdownClass="small"
            options=(if (eq fieldName "fileTimeNotActive") _timeUnits _sizeUnits)
            selected=(get _formData (concat fieldName "Unit"))
            onchange=(action "dataChanged" (concat fieldName "Unit"))
            searchEnabled=false
            renderInPlace=true
            as |unit|}}
            {{unit.name}}
          {{/power-select}}
        </div>
      </div>
    {{/form.group}}
  {{/each}}
{{/bs-form}}
