<div class="row content-row no-border">
  <h1>
    <span class="chart-title">Synchronization throughput</span>
    {{one-label-tip
      title="The chart shows the throughput of file operations"
      placement="top"
    }}
  </h1>
</div>
<div class="row content-row chart-row has-border">
  <div class="scrollable-row">
    {{#if syncChartDataError}}
      {{resource-load-error reason=syncChartDataError}}
    {{else}}
      {{chartist-chart data=chartData options=chartOptions type="line" class="hide-middle-x-labels"}}
    {{/if}}
  </div>
</div>
