<div class="row content-row">
  <strong>Synchronization throughput</strong>
  {{one-label-tip
    title="The chart shows the throughput of file operations"
    placement="top"
  }}
</div>
<div class="row content-row chart-row scrollable">
  {{chartist-chart data=chartData options=chartOptions type="line" class="hide-middle-x-labels"}}
</div>
