<div class="row content-row no-border">
  <h1>
    <span class="chart-title">File operations queue statistics</span>
    {{one-label-tip
      title="The chart shows how many operations was queued in given time period"
      placement="top"
    }}
  </h1>  
</div>
<div class="row content-row chart-row has-border">
  <div class="scrollable-row">
    {{#if importChartDataError}}
      {{resource-load-error reason=importChartDataError}}
    {{else}}
      {{chartist-chart data=chartData options=chartOptions type="bar" class="hide-middle-x-labels"}}
    {{/if}}
  </div>
</div>
