{{!-- TODO i18n --}}

{{#if isCollectionEmpty}}

  {{empty-collection-sidebar resourceType=resourceType}}

{{else}}

  {{#one-list-wrapper items=model.collection as |item|}}
    {{#one-list-primary-item item=item
      changePrimaryItemId="changePrimaryItemId"
      isActive=(eq primaryItemId item.id)
      as |primarySection|}}
      {{#if (eq primarySection 'header')}}
        {{item.name}}
      {{else if (eq primarySection 'secondary')}}
        {{!-- TODO resource type specific --}}
        {{!-- TODO isActive secondary --}}
        <ul class="one-list one-list-level-2">
          <li class="one-list-item clickable">
            <div class="item-header">Spaces</div>
          </li>
        </ul>
      {{/if}}
    {{/one-list-primary-item}}
  {{/one-list-wrapper}}

{{/if}}


