{{#promise-proxy-container proxy=savedPrivacyPolicyProxy}}
  <p>{{tt this "description"}}</p>
  {{wysiwig-editor mode="edit" content=privacyPolicy onChange=(action "privacyPolicyChanged")}}
  <p>
    {{#one-spin-button
      class=(concat "btn btn-primary btn-save pull-right")
      action=(action "save")}}
      {{tt this "save"}}
    {{/one-spin-button}}
  </p>
{{/promise-proxy-container}}
{{yield}}
