{{sidebar-spaces model=model changeResourceId="changeResourceId"}}


{{!-- EXAMPLE of accordion compatible with list style --}}

{{!--{{#one-list-wrapper items=model id="spaces-list" as |item|}}
    <div role="tab" data-toggle="collapse" data-parent="#spaces-list"
      href="#collapse-space-{{item.id}}">{{item.label}}</div>
    <ul role="tabpanel" id="collapse-space-{{item.id}}"
      class="one-list one-list-level-2 collapse">
      <li class="one-list-item">
        Members
      </li>
      <li class="one-list-item">
        Statistics
      </li>
      <li class="one-list-item">
        Providers
      </li>
    </ul>
{{/one-list-wrapper}}--}}
